* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Playwrite GB S";
}

body{
	height: 100%;
	width: 100%;
	background-color: rgb(30, 30, 30);
}

#root{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.score{
	color: white;
	margin: 20px;
}

.cards-container{
	display: flex;
	flex-direction: row;
}

.card p{
	font-family: "Playwrite GB S";
	color: rgb(97, 53, 60);
}

.card{
	cursor: pointer;
	border: 0.5px solid white;
	border-radius: 10px;
	width: 200px;
	padding: 10px;
	margin: 10px;
}

.gameplay-state{
	color: white;
	margin: 20px;
}

.play-again{
	cursor: pointer;
	color: white;
	padding: 5px 10px;
	margin: 20px;
	border-radius: 10px;
	border: 0.5px solid rgb(255, 215, 221);
	background-color: rgb(147, 92, 101);
}